:root {
  color: #fff;
  background-color: #008083;
}

body {
  position: relative;
}

.window {
  position: absolute;
}

#timer-window {
  max-width: 350px; /* feed left - 16 */
  width: 200px;
  top: 0px;
  left: 0px;
}

#timer-body {
  height: 44px; /* real: +74px */
}

#timer {
  text-align: center;
  font-size: 28px;
}

#chat-window {
  max-width: 350px; /* feed left - 16 */
  width: 350px;
  top: 145px; /* timer height + 12 */
  left: 0px;
}

#chat {
  resize: none;
  width: 100%;
  height: 400px; /* real: +44px */
}

#feed-window {
  width: 1006px; /* set to feed width + 16px */
  top: 0px;
  left: 252px; /* 1280 - 22 - width */
}

#feed {
  background-color: red;
  resize: none;
  width: 100%;
  height: 660px;
}

#settings-window {
  left: 1290px;
  top: 0px;
}